/*You don't have to use class=, you can just change
the format of p from here without having to add class after <p in the html file*/
.bordertab{
	border: 2px solid #000000;
}

.center {
text-align:center;
}
.tcenter {
	margin-left: auto;
   margin-right: auto;
}

.white{
  color: white
}

.subtitle{
  font-style: italic;
  font-weight: bold;
}

.indented{ margin-left:40px;

}
.box2{
  margin-bottom:5%;
  height:700px;
  /*The following allows the width to automatically change when the width of the browser windows changes*/
  width:auto;
  border:2px solid;
  background-color: lightpink;
}


  .box2 > div {
    width:46%;
    height:40%;
    float:left;
    margin-left:3%;
    margin-top:1%;
  }

.box2 > div >img {
width:100%;
height:100%;
border:3px solid purple;
}

.box2 > div > a> img {
width:100%;
height:100%;
border:3px solid purple;
}

/*p {
  margin:5px;
}*/
