/*You don't have to use class=, you can just change
the format of p from here without having to add class after <p in the html file*/

.center {
text-align:center;
}

.tcenter {
	margin-left: auto;
   margin-right: auto;
}

.textbox{
	border:4px solid #627be3;
	background-color: #f2f1e1;
}

.textbox >p{
	margin:40px;
}


.box2{
margin-top: 2%;
	margin-bottom:5%;
  height:240px;
	/*The following allows the width to automatically change when the width of the browser windows changes*/
width:auto;
  /*border:2px solid red
  background-color: rgba(82,163,154,.3);*/
  /*box-shadow: 12px 13px 12px pink*/

}

/*I got better results using pixels than %*/
  .box2 > div {
border:2px solid;
		width:32%;
    height:95%;
    float:left;
    margin-left:0.2%;
    margin-top:2.3%;

  }

	.box2 > div >img {
width:100%;
	height:100%;
	}

.box2> div>.textbox {
	width:98.8%;
	height:97.5%;
		overflow-x: scroll;
}
