body {
    background:linear-gradient(90deg, rgba(29,0,36,1) 0%, rgba(104,14,145,1) 12%, rgba(0,212,255,1) 100%);
}

.msg{
text-align: center;  
}
.checkbutton{
  text-align: center;
}
.checkbutton>input{
  width:15%;
  height:100%;
}
.desc {
    color:white;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:25px;
    margin-left: 25px;
}
.btn {
    position:absolute;
    z-index: 100;
    top:2%;
    right:10%;
    padding:10px 20px;
    background:purple;
    color:white;
    font-size:15px;
    font-weight:600;
    text-decoration:none;
    border-radius:5px;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
