.default {
    background:linear-gradient(90deg, rgba(29,0,36,1) 0%, rgba(104,14,145,1) 12%, rgba(0,212,255,1) 100%);
    animation:gradient 15s ease infinite;
    background-size: 400% 400%;
}
.green {
    background:radial-gradient(circle, rgba(44,255,5,1) 9%, rgba(36,138,43,1) 39%, rgba(31,144,61,1) 62%, rgba(0,255,42,1) 84%);
    animation:gradient 15s ease infinite; 
    animation-direction: alternate-reverse;
    background-size: 400% 400%;
}
.red {
    background:radial-gradient(circle, rgba(255,0,0,1) 9%, rgba(136,19,19,1) 39%, rgba(116,20,20,1) 62%, rgba(255,0,0,1) 84%);
    animation:gradient 15s ease infinite;
    animation-direction: alternate-reverse;
    background-size: 400% 400%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.score{
  text-align: center;
}
.highscore{
  text-align: center;
}

.msg{
text-align: center;
}
.checkbutton{
  text-align: center;
  width: 50%;
  margin: auto;
  background: wheat;
  border-radius: 80px;
}
.checkbutton>input{
  text-align: center;
  width:20%;
  height: 50px;
  font-size: 50px;
  font-weight: bold;
  color:white;
  background-color:burlywood;;
  border: 2px solid white;
  border-radius: 15px;
  text-shadow: 2px 1px black;
}
.desc {
    color:white;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:25px;
    margin-left: 25px;
}
.userInput:focus{
  outline: 15px;
  border:2px solid black;
}
.Check{
    padding:10px 20px;
    background:purple;
    color:white;
    font-size:15px;
    font-weight:bold;
    border:1px solid white;
    border-radius:5px;
    margin:3%;
}
.Check:hover{
  background:white;
  color:black;
  transition: 2s;
  box-shadow: 5px 5px 5px black;
}
.resetbtn {
    position:absolute;
    z-index: 100;
    top:2%;
    right:10%;
    padding:10px 20px;
    background:purple;
    color:white;
    font-size:15px;
    font-weight:bold;
    border:1px solid white;
    border-radius:5px;
}
.resetbtn:hover{
  background:white;
  color:black;
  transition: 2s;
  box-shadow: 5px 5px 5px black;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.container{
  position: relative;
  height: 100%;
}

.think{
  max-width: 40%;
  position: absolute;
  height: 100%;
  top: 2%;
  right: 17%;
}