body{
  background-color: lightyellow;

}
hr{
  border: 0.15vh solid olive;
  background-color:olive;
}

.page{
  width: 95%;
  margin-left: 2.5%;
}
.page>div{
  width: 100%;
}
/*Signature and disclaimer*/
.signature{
  text-align: center;
  color: #dcdcde;
  font-size: 1.7vh;
}
/*Social media*/
.socialmedia{
  text-align: right;
  padding-right: 3%;
  width: 96.5%!important;
  margin-top: 1.5%;
  margin-bottom: 6%;
}

.socialmedia>a>img{
  width: 2.5%;
  height: 2.5%;
  margin-right: 1.5%;
}
.socialmedia>H4{
  font-size: 1.5vh;
   color: #dcdcde;
}

/*Sixth block*/

.bottomblock{
 background-color:#1c1b1a;
 width: auto;
height: 50vh;
position: relative;
   /*Putting display flex here ruins everythin*/

}
.bottomblock>div{
  width: 100%;
  float: left;
}
.bottomblock>div>hr{
  border: 0.15vh solid white;
  background-color:#dcdcde;
  width: 93%
}
.tcenter {
  text-align: center;
   padding-left:2vh;
    display: flex;
    margin-bottom: 3%;
}

.tcenter>div{
  width:25%;
/*This is neccesary to make them in the same line*/
  float: left;
}
.tcenter>div>a{
 color: #dcdcde;
 text-decoration: none;
 font-size: 1.5vh
}

/*Fourth block with the body creams*/
.fourthboxtitle1{
  color:olive;
}
.fourthboxtitle2{
font-weight: bold;
font-size: 2vh !important
}
.button{
  background-color: black;
    text-decoration: none;
    padding: 0.7vh;
    color: white;
    font-size: 1.5vh;
}
.fourthbox{
  margin-top: 2%;
  margin-bottom:5%;
   /*The following allows the width to automatically change when the width of the browser windows changes*/
  height:50vh;
 width:auto;
 /*This allows for the box to be centered horizontally and vertically */
 display: flex;
   justify-content: center;
   align-items: center;

}

.fourthbox>div{
  width: 32%;
  height: 100%;
  float: left;
  text-align: center;
  /*overflow: auto;*/I had to remove it to avoid the bar
}
.fourthbox>div>img{
  display: block;
    width: 63%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}
.fourthbox>div>p{
  display: block;
  font-size: 1.5vh;

}

.fourthboxtop>h2{
  color: olive;
  font-size: 3vh;
}

/*Third block with the two boxes*/
.thirdbox{
  margin-top: 2%;
  margin-bottom:5%;
  height:30vw;
   /*The following allows the width to automatically change when the width of the browser windows changes*/
 width:auto;
 /*This allows for the box to be centered horizontally and vertically */
 display: flex;
   justify-content: center;
   align-items: center;
}

.thirdbox>div{
  width: 43%;
  height: 93%;
  float: left;
  margin-top:2.4%;
  text-align: center
}

.thirdboxlefttext{
margin-top: 8vh;
margin-left: 7vh;
font-size: 2.5vh;
padding-left: 5vh;
padding-top: 3vh;
padding-right: 4vh;
border: 2px solid #aeb559;
width: 50%;
height: 40%;
color: white;
text-align: left;
overflow: auto
}

.thirdboxrighttext{
margin-top: 4vh;
margin-left: 6vh;
font-size: 2.5vh;
width: 86%;
height: 60%;
color: olive;
text-align: left;
overflow: auto
}

.thirdboxleft{
background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.50)), url('images/intro_img1.jpg');
background-size: 100% 100%;
}

.thirboxright{
  margin-left:10%;
  background-image: linear-gradient(to top right, rgba(245, 246, 252, 0.52), rgba(193, 209, 125, 0.73));
  border: 1px solid #cfd1b8;
}

/*Second block with pic and text*/
.secondtxt{
  width: 40%;
  padding:20px;
  background-color: lightgray;
  border: 4px solid white;
  font-size: 1.2vw;
  position: absolute;
  top: 30%;
  left:3%;
  text-align: justify;
  overflow: auto;
  word-spacing: 5px;
}

.secondcontainer{
  width:100%;
  height: 80vh;
  background-image: url(images/intro_img2.jpg);
  background-size: 100% 100%;
  position: relative;
}


/*Top part with animation*/
/*Tweak Make text bigger*/
.slideshow{
  width: 33%;
  height:300px;
  float:left;
  font-size: 20px;
  text-align: center;
}
.slideshow:nth-child(1){
background: olive;
}
.slideshow:nth-child(2){
background: #c4c414;
}
.slideshow:nth-child(3){
background: #fcafa7;
}


/*Tweak*/
.slidecontainer{
height:100%;
width:300%;
animation: slideshow 22s infinite;
}

.topframe{
overflow: hidden;
height:50px;
margin: 0 auto;
}

.topsubheader{
margin-top: auto;
float: left;
align-content: flex-start;
top:12%;
left:18%
position:absolute;
animation: updown2 5s infinite;
}


/*twek if you have time*/
.topbox {
display:flex;
flex-flow: row wrap;
font-family: cursive; /* tweaked*/
font-style: italic;
}
/*Tweak add shadow*/
.toplogo {
  margin-left: 20px;
  margin-top: 20px;
  width: 10%;
  height: 10%;
  border:1px solid #aeb559; /* tweaked*/
  animation: expand 2s infinite;
}

/*twek if you have time*/
.topheader{
  color:#838750; /* tweaked*/
  font-size: 40px;
  margin-left: 100px;
  position: absolute;
  animation: updown1 5s infinite;


}

/*animations*/

/*Tweak*/
@keyframes expand {
  0% {transform: scale(1)}
  20% {transform: scale(1.25)}
  40% {transform: scale(1)}
  60% {transform: scale(1.25)}
  0% {transform: scale(1)}

}

/*Tweak*/
@keyframes updown1 {
  0% {top:0%; transform: scale(1);}
  20% {top:12%; transform: scale(1.25);}
  40% {top:0%; transform: scale(1);}
  60% {top:12%; transform: scale(1.25);}
  80% {top:0%; transform: scale(1);}
  60% {top:12%; transform: scale(1.25);}
}
/*Tweak*/
@keyframes updown2 {
  0% {top:12%; transform: scale(1);}
  20% {top:5%; transform: scale(1.25);}
  40% {top:12%; transform: scale(1);}
  60% {top:5%; transform: scale(1.25);}
  80% {top:12%; transform: scale(1);}
  60% {top:5%; transform: scale(1.25);}
}
/*Tweak*/
@-webkit-keyframes slideshow {
  0% {margin-left:0%;}
  5% {margin-left:0%;}
  33% {margin-left:-100%;}
  35% {margin-left:-100%;}
  66% {margin-left:-197%;}
  68% {margin-left:-197%;}
}
